@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth; 
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', serif;
  font-weight: 700;
  line-height: normal;
  font-size: 26px;
  background: #6879a3;
  color: #202530;
}

.body-overflow {
  overflow: hidden;
}