@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,700&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lora', serif;
  font-weight: 700;
  line-height: normal;
  font-size: 14px;
  background: #4f5d75;
  color: #2d3142;
}

.body-overflow {
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
  width: 100%;
  gap: 30px;
  margin: 0 auto;
  padding: 30px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(191, 192, 192, 0.3);
  border-radius: 5px;
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.5);
}

.title {
  margin: 0;
  padding: 0 40px;
  font-size: 36px;
  color: #e8936f;
}
/* Боковая*/
.aside {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  background-color: rgba(191, 192, 192, 0.3);
  border-radius: 5px;
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.5);
}

.timer-wrap {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(79, 93, 117, 0.3);
  border-radius: 5px;
  box-shadow: inset 0px 0 10px 0px rgba(0, 0, 0, 0.5);
}

.timer {
  font-size: 24px;
  color: #e8936f;
}

/*Центр*/
.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.game-field {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  background-color: rgba(191, 192, 192, 0.3);
  border-radius: 5px;
  box-shadow: 0px 0 10px 0px rgba(0, 0, 0, 0.5);
}

.buttons-field {
  display: flex;
  justify-content: center;
  padding: 0 20px 10px;
  gap: 15px;
}

.button {
  width: 100px;
  margin-right: 4px;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  background-color: #4f5d75;
  color: #e8936f;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

@media (hover:hover) {
  .button:hover {
    background-color: #2d3142;
  }
}

.table-wrap {
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: collapse;
  border-spacing: 0;
}

.line {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.head,
.line {
  background: #bfc0c0;
  border: 1px solid;
}

.head,
tbody .line,
thead th:nth-child(5n+1):not(:last-child),
tbody td:nth-child(5n+1):not(:last-child) {
  border-right: 2px solid #0d0d0d;
}

.left-line {
  min-width: 60px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
  white-space: nowrap;
}

.white {
  border: 1px solid;
  background: #ffffff;
  text-align: center;
  cursor: pointer;
}

.black {
  background: #0d0d0d;
}

.cross {
  background-image: url(../img/cross.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

thead th,
tbody tr:nth-child(5n):not(:last-child) th,
tbody tr:nth-child(5n):not(:last-child) td {
  border-bottom: 2px solid #0d0d0d;
}